body, html {
	background-color: white;
	font: normal normal normal 1em/1.5em Helvetica, sans-serif;
    margin: 0px;
}
pre { font-family: monospace;}



	#pagewrap {
		margin: 0 auto;
		/*width: 700px;*/
	}
			
			#search {
				/*-webkit-border-radius: 10px;*/
				background-color: white;
				padding: 0px;
				position: fixed;
				/*right:40px;*/
				right:0px;
				display: none;
			}
			
			
			#body {
				
			}
				table {
					background-color: white;
					/*-webkit-border-radius: 10px;*/
					width: 100%;
					padding: 0px;
				}
											th.sortable {
												color: #666;
												cursor: pointer;
												text-decoration: underline;
											}
											th.sortable:hover { color: black; }
											th.sorted-asc, th.sorted-desc  { color: black; }

											td {
												background-color: white;
                                                text-align: center;
                                                padding-top: 15px;
                                                padding-bottom: 15px;
											}
											td.odd {
												background-color: #CCE6FF;
												color: black;
                                                padding-top: 15px;
                                                padding-bottom: 15px;
											}
table tr td a {
    display:block;
    height:100%;
    width:100%;
}
                                            
